PORT=5001
DB_HOST=10.10.0.42
DB_PORT=3306
DB_USER=developer
DB_PASSWORD=
DB_NAME=dipak_trainee_task_management
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
ACCESS_JWT_SECRET=
REFRESH_JWT_SECRET=
INTERNAL_JWT_SECRET=
